<template name="header">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="big-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">MAGICBEANS</a>
      </div>
      <div class="navbar-collapse collapse">
        <!-- navbar buttons -->
        <ul class="nav navbar-nav">
          <li><a class="nav-map-button page-change" href="/">RFPs</a></li>
          <li><a class="nav-search-button" href="{{pathFor 'home'}}">Proposals</a></li>
          <li><a class="nav-info-button page-change" href="{{pathFor 'home'}}">Info</a></li>
          <li><a class="nav-shout-outs-button page-change" href="{{pathFor 'home'}}">Shout-Outs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <!-- Edit profile button if user is logged in -->
          {{#if currentUser}}
          <li><a class="page-change" href="{{pathFor 'home'}}">Edit Profile</a></li>
          {{/if}}
            {{> loginButtons }}
        </ul>
      </div>
    </div>
  </div>
</template>